* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 150px;
}

ul {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #1f2937;
  height: 8vh;
}
.navbar {
  display: flex;
  font-size: larger;
  justify-content: space-between;
}

.right-links,
.left-links {
  display: flex;
  gap: 15px;
  padding-top: 3vh;
}
